extends ../shared/views/layout

block content
	.container
		.row
			.col
				h2 Bestellung
				h4 Daten zur Bestellung angeben
				hr
				app-root

block scripts
	script(type="text/javascript", src="app/inline.bundle.js")
	script(type="text/javascript", src="app/polyfills.bundle.js")
	script(type="text/javascript", src="app/styles.bundle.js")
	script(type="text/javascript", src="app/vendor.bundle.js")
	script(type="text/javascript", src="app/main.bundle.js")