<mat-horizontal-stepper>
  <mat-step label="Bilder hochladen">
    <p>Laden Sie Ihre Fotos hoch. Je höher die Qualität der Fotos, um so besser kann das Ergebnis aussehen. Wir wissen nicht
      wie Ihre Liebsten aussehen und können keine Details abbilden, die wir auf Ihren Bildern nicht erkennen können.</p>
    <mat-image-loader [apiEndPoint]="'/image'"></mat-image-loader>
    <p>Wenn Sie mindestens ein Bild ausgewählt haben, können Sie auf "Weiter" klicken. Sie müssen nicht warten bis die Fotos
      hochgeladen sind. Diese werden weiter geladen, solange Sie in den weiteren Schritten Ihre Daten angeben. Sollten Sie
      den Vorgang abbrechen, werden die Fotos selbstverständlich gelöscht.</p>

    <button mat-button matStepperNext>Weiter</button>
  </mat-step>

  <mat-step label="Portrait-Typ beschreiben">
    <p>Welches Porträt möchten Sie? Sagen Sie es uns und wir sagen Ihnen direkt was es kosten würde.</p>
    <mat-grid-list cols="2" rowHeight="4:1">
      <mat-grid-tile>
        <label for="price">Preis:</label>
      </mat-grid-tile>
      <mat-grid-tile>
        <span id="price">{{getPrice(selectedPortraitKindName, selectedPortraitSizeName, selectedCountSubjectCount)}}</span>
      </mat-grid-tile>

      <mat-grid-tile>
        <label for="rgKind">Porträt-Typ:</label>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-group id="rgKind" [(ngModel)]="selectedPortraitKindName" required="true">
          <mat-radio-button *ngFor="let portraitKind of portraitKinds" [value]="portraitKind.name">
            {{portraitKind.name}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>

      <mat-grid-tile>
        <label for="rgSize">Größe:</label>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-group id="rgSize" [(ngModel)]="selectedPortraitSizeName" required="true">
          <mat-radio-button *ngFor="let portraitSize of portraitSizes" [value]="portraitSize.name">
            {{portraitSize.name}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>

      <mat-grid-tile>
        <label for="slCount">Anzahl Subjekte:</label>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-slider *ngIf="selectedPortraitKindName" min="{{getMin(selectedPortraitSizeName)}}" max="{{getMax(selectedPortraitSizeName)}}" step="1.0" [(ngModel)]="selectedCountSubjectCount" thumbLabel="true"></mat-slider>
      </mat-grid-tile>
    </mat-grid-list>

    <button mat-button matStepperPrevious>Zurück</button>
    <button mat-button matStepperNext>Weiter</button>
  </mat-step>

  <mat-step label="Adressen">
    <p>Content</p>

    <button mat-button matStepperPrevious>Zurück</button>
    <button mat-button matStepperNext>Weiter</button>
  </mat-step>

  <mat-step label="Abschluß">
    <p>Content</p>

    <button mat-button matStepperPrevious>Zurück</button>
    <button mat-button matStepperNext>Weiter</button>
  </mat-step>
</mat-horizontal-stepper>