<mat-horizontal-stepper>
    <mat-step label="Bilder hochladen">
      <p>Laden Sie Ihre Fotos hoch. Je höher die Qualität der Fotos, um so besser kann das Ergebnis aussehen. Wir wissen nicht wie Ihre Liebsten aussehen und können keine Details abbilden, die wir auf Ihren Bildern nicht erkennen können.</p>
      <mat-image-loader [apiEndPoint]="'/image'"></mat-image-loader>
      <p>Wenn Sie mindestens ein Bild ausgewählt haben, können Sie auf "Weiter" klicken. Sie müssen nicht warten bis die Fotos hochgeladen sind. Diese werden weiter geladen, solange Sie in den weiteren Schritten Ihre Daten angeben. Sollten Sie den Vorgang abbrechen, werden die Fotos selbstverständlich gelöscht.</p>

      <button mat-button matStepperNext>Weiter</button>
    </mat-step>

    <mat-step label="Portrait-Typ beschreiben">
      <p>Welches Porträt möchten Sie? Sagen Sie es uns und wir sagen Ihnen direkt was es kosten würde.</p>
      <label for="price">Preis:</label>
      <span *ngIf="selectedId" id="price">{{getPrice(selectedId)}}</span>
      <mat-radio-group [(ngModel)]="selectedId" required="true">
        <mat-radio-button *ngFor="let portraitKind of portraitKinds" [value]="portraitKind.id">
          {{portraitKind.name}}
        </mat-radio-button>
      </mat-radio-group>

      <button mat-button matStepperPrevious>Zurück</button>
      <button mat-button matStepperNext>Weiter</button>
    </mat-step>

    <mat-step label="Adressen">
      <p>Content</p>

      <button mat-button matStepperPrevious>Zurück</button>
      <button mat-button matStepperNext>Weiter</button>
    </mat-step>

    <mat-step label="Abschluß">
      <p>Content</p>

      <button mat-button matStepperPrevious>Zurück</button>
      <button mat-button matStepperNext>Weiter</button>
    </mat-step>
</mat-horizontal-stepper>
