<div>
  <input id="file" type="file" #file (change)="fileChanged($event)" placeholder="Upload File" accept=".png,.gif,.jpg,.jpeg,.bmp" />
  <label for="file" mat-button class="mat-button"><mat-icon aria-label="Bild hinzufügen">add_circle</mat-icon> Datei hinzufügen</label>
<div>
<mat-list>
  <mat-list-item *ngFor="let uploadingFile of uploadingFiles">
    {{uploadingFile.description}}
    <button mat-icon-button title="Löschen" [attr.disabled]="uploadingFile.id ? null : ' '">
      <mat-icon aria-label="remove image">cancel</mat-icon>
    </button>
    <img mat-list-avatar src="{{uploadingFile.dataUrl}}" alt="{{uploadingFile.description}}" [class.disabled]="true">
    <mat-spinner diameter="56" [class.hidden]="uploadingFile.id"></mat-spinner>
  </mat-list-item>
</mat-list>
