extends ../shared/views/layout

block content
    .container
        .row
            .col
                h2 Allgemeine Geschäftsbedingungen (AGB)
                article
                    h4 § 1 Geltungsbereich & Abwehrklausel
                    ol
                        li Für die über diese Site begründeten Rechtsbeziehungen zwischen dem Betreiber der Site (nachfolgend „Anbieter“) und seinen Kunden gelten ausschließlich die folgenden Allgemeinen Geschäftsbedingungen in der jeweiligen Fassung zum Zeitpunkt der Bestellung.
                        li Abweichende Allgemeine Geschäftsbedingungen des Kunden werden zurückgewiesen.
                article
                    h4 § 2 Zustandekommen des Vertrages
                    ol
                        li Die Präsentation der Waren auf der Site stellt kein bindendes Angebot des Anbieters auf Abschluss eines Kaufvertrages dar. Der Kunde wird hierdurch lediglich aufgefordert, durch eine Bestellung ein Angebot abzugeben.
                        li Durch das Absenden der Bestellung auf der Site gibt der Kunde ein verbindliches Angebot gerichtet auf den Abschluss eines Werkvertrages über die im Warenkorb enthaltenen Waren ab. Mit dem Absenden der Bestellung erkennt der Kunde auch diese Geschäftsbedingungen als für das Rechtsverhältnis mit dem Anbieter allein maßgeblich an.
                        li Der Anbieter bestätigt den Eingang der Bestellung des Kunden durch Versendung einer Bestätigungs-E-Mail. Diese Bestellbestätigung stellt noch nicht die Annahme des Vertragsangebotes durch den Anbieter dar. Sie dient lediglich der Information des Kunden, dass die Bestellung beim Anbieter eingegangen ist. Die Erklärung der Annahme des Vertragsangebotes erfolgt durch die Auslieferung der Ware oder eine ausdrückliche Annahmeerklärung.
                article
                    h4 § 3 Eigentumsvorbehalt
                    ol
                        p Die gelieferte Ware verbleibt bis zur vollständigen Bezahlung im Eigentum des Anbieters.
                        p Der Anbieter darf die Arbeiten als Referenzen verwenden und auf der Seite einbinden, solange der Kunde dem nicht ausdrücklich widersrpicht.
                article
                    h4 § 4 Fälligkeit
                    p Die Zahlung des Kaufpreises ist mit Vertragsschluss fällig.
                article
                    h4 § 5 Gewährleistung
                    ol
                        li Die Gewährleistungsrechte des Kunden richten sich nach den allgemeinen gesetzlichen Vorschriften, soweit nachfolgend nichts anderes bestimmt ist. Für Schadensersatzansprüche des Kunden gegenüber dem Anbieter gilt die Regelung in § 6 dieser AGB.
                        li Die Verjährungsfrist für Gewährleistungsansprüche des Kunden beträgt bei Verbrauchern bei neu hergestellten Sachen 2 Jahre, bei gebrauchten Sachen 1 Jahr. Gegenüber Unternehmern beträgt die Verjährungsfrist bei neu hergestellten Sachen und bei gebrauchten Sachen 1 Jahr. Die vorstehende Verkürzung der Verjährungsfristen gilt nicht für Schadensersatzansprüche des Kunden aufgrund einer Verletzung des Lebens, des Körpers, der Gesundheit sowie für Schadensersatzansprüche aufgrund einer Verletzung wesentlicher Vertragspflichten. Wesentliche Vertragspflichten sind solche, deren Erfüllung zur Erreichung des Ziels des Vertrags notwendig ist, z.B. hat der Anbieter dem Kunden die Sache frei von Sach- und Rechtsmängeln zu übergeben und das Eigentum an ihr zu verschaffen. Die vorstehende Verkürzung der Verjährungsfristen gilt ebenfalls nicht für Schadensersatzansprüche, die auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung des Anbieters, seiner gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen. Gegenüber Unternehmern ebenfalls ausgenommen von der Verkürzung der Verjährungsfristen ist der Rückgriffsanspruch nach § 478 BGB.
                        li Eine Garantie wird von dem Anbieter nicht erklärt.
                article
                    h4 § 6 Haftungsausschluss
                    ol
                        li Schadensersatzansprüche des Kunden sind ausgeschlossen, soweit nachfolgend nichts anderes bestimmt ist. Der vorstehende Haftungsausschluss gilt auch zugunsten der gesetzlichen Vertreter und Erfüllungsgehilfen des Anbieters, sofern der Kunde Ansprüche gegen diese geltend macht.
                        li Von dem unter Ziffer 1 bestimmten Haftungsausschluss ausgenommen sind Schadensersatzansprüche aufgrund einer Verletzung des Lebens, des Körpers, der Gesundheit und Schadensersatzansprüche aus der Verletzung wesentlicher Vertragspflichten. Wesentliche Vertragspflichten sind solche, deren Erfüllung zur Erreichung des Ziels des Vertrags notwendig ist, z.B. hat der Anbieter dem Kunden die Sache frei von Sach- und Rechtsmängeln zu übergeben und das Eigentum an ihr zu verschaffen. Von dem Haftungsausschluss ebenfalls ausgenommen ist die Haftung für Schäden, die auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung des Anbieters, seiner gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen.
                        li Vorschriften des Produkthaftungsgesetzes (ProdHaftG) bleiben unberührt.
                article
                    h4 § 7 Abtretungs- und Verpfändungsverbot
                    p § 7 Abtretungs- und Verpfändungsverbot
                article
                    h4 § 8 Aufrechnung
                    p Ein Aufrechnungsrecht des Kunden besteht nur, wenn seine zur Aufrechnung gestellte Forderung rechtskräftig festgestellt wurde oder unbestritten ist.
                article
                    h4 § 9 Rechtswahl & Gerichtsstand
                    ol
                        li Auf die vertraglichen Beziehungen zwischen dem Anbieter und dem Kunden findet das Recht der Bundesrepublik Deutschland Anwendung. Von dieser Rechtswahl ausgenommen sind die zwingenden Verbraucherschutzvorschriften des Landes, in dem der Kunde seinen gewöhnlichen Aufenthalt hat. Die Anwendung des UN-Kaufrechts ist ausgeschlossen.
                        li Gerichtsstand für alle Streitigkeiten aus dem Vertragsverhältnis zwischen dem Kunden und dem Anbieter ist der Sitz des Anbieters, sofern es sich bei dem Kunden um einen Kaufmann, eine juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches Sondervermögen handelt.
                article
                    h4 § 10 Salvatorische Klausel
                    p Sollte eine Bestimmung dieser Allgemeinen Geschäftsbedingungen unwirksam sein, wird davon die Wirksamkeit der übrigen Bestimmungen nicht berührt.
                    i Quelle: 
                    a(href='http://www.kluge-recht.de') kluge-recht.de